body {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
form {
  margin-top: 20px;
}
.btn:focus {
  outilne: none;
  box-shadow: none;
}
.position {
  text-align: center;
  font-family: "Signika", sans-serif;
  font-size: 45px;
  font-weight: bold;
}
.col {
  padding: 5;
  margin: 0;
}
.card-today {
  text-align: center;
  font-size: 40px;
}
.card-title {
  font-family: "Signika", sans-serif;
  font-size: 45px;
  font-weight: bold;
}
#location {
  font-size: 20px;
}
.card-today-icon {
  font-size: 200px;
  color: orange;
}
#weatherDescription {
  font-size: 16px;
}
#todayDate {
  font-size: 30px;
}
.temperature-today {
  font-weight: 500;
}
#back-to-you {
  display: block;
  text-align: center;
  font-size: 16px;
}
.card-f {
  margin: 50px 0;
  text-align: center;
}
.card-icon {
  font-size: 60px;
  color: grey;
}
.temperature {
  font-size: 25px;
  font-weight: 500;
}
h6 {
  font-family: "Sniglet", cursive;
  font-size: 12px;
  font-weight: 100;
  color: grey;
}
